<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <table>
                <thead>
                    <th>Country</th>
                    <th>Phone Prefix</th>
                </thead>
                <tbody>
                    @for (country of countryPhoneList; track country.nombre){
                        <tr>
                            <td>
                                <img src="getFlagImage(country.flag)"/> {{country.nombre}}
                            </td>
                            <td>@for(prefix of country.prefix; track prefix){} </td>
                        </tr>
                    } @empty {
                        <tr>
                            <td colspan="2">No se encontraron países en la lista</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>